header{
    margin-bottom: 20px;
}
.banner-header{
   
    background: url("../img/pattern.png");
    height: 150px;
    background-color: rgb(66, 138, 255);
    width: 100%;
}

.banner-header img{
    margin-top: 80px;
    margin-left: 10px;
    width:15%;
    height: auto;
}

.header-title{
    font-size: 35px;
    margin-top: 20px;
}

.grey-text {
    color:rgb(139, 139, 139);
}

a{
    text-decoration: none;
    color:rgb(58, 169, 212);
}

main{
    width: 100%;
}

.tim-1{
    width: 50%;
    height: 500px;
}

.tim-2{
    width: 45%;
    height: 500px;

}

p{
    margin-top:20px;
}

h1,h3,h5,h6{
    margin:0;
    padding: 0;
}
ul{
    padding-left: 15px;
    margin-top: 30px;
}

table{
    margin-top:30px;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

td{
    width:30px; 
}

thead{
    background: rgb(23, 161, 253);
    color:white;
}

.heavenly-row{
    background:rgb(144, 223, 255);
}

footer{
    margin-top: 30px;
}

footer h3{
    margin-bottom:15px;
}

.img-footer-1{
    background: url("../img/monitor.jpg");
    width: 190px;
    height: 180px;
    background-position: center;
    background-size: contain;
    color:white;
    
}

.img-footer-2{
    background: url("../img/graph.jpg");
    width: 190px;
    height: 180px;
    background-position: center;
    background-size: contain;
    margin-top:10px;
    color:white;
}