
.banner-header{
   
    background: url("../img/pattern.png");
    height: 150px;
    background-color: rgb(66, 138, 255);
    
}

.banner-header img{
    width: 18%;
    height: auto;
}

.header-title{
    font-size: 35px;
    margin-top: 20px;
}

.grey-text {
    color:rgb(139, 139, 139);
}

a{
    text-decoration: none;
    color:rgb(58, 169, 212);
}

main{
    width: 100%;
}

.tim-1{
    width: 50%;
}

.tim-2{
    width: 45%;
}

p{
    margin-top:20px;
}

h1,h3,h5,h6{
    margin:0;
    padding: 0;
}
ul{
    padding-left: 15px;
    margin-top: 30px;
}

table{
    margin-top:20px;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

td{
    width:30px; 
}

thead{
    background: rgb(23, 161, 253);
    color:white;
}

.heavenly-row{
    background:rgb(144, 223, 255);
}